body {
  background-color: blue;
  font-family: 'Sigmar One', cursive;
}

/* department styles */
.department {
  margin: 20px 0;
}

.dept-img {
  width: 100%;
  height: 400px;
}

.grey-out {
  opacity: 0.4;
}

.dept-title {
  color: white;
  position: absolute;
  top: 200px;
  font-size: 50px;
  left: 20px;
}

.item-image{
  height: 100px;
  width: 100px;
}

.item {
  height: 200px;
}
